<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>tt.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>MyServlet.cartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>MyServlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Goods</servlet-name>
        <servlet-class>MyServlet.GoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoodsServlet</servlet-name>
        <servlet-class>MyServlet.GoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart_Servlet</servlet-name>
        <servlet-class>MyServlet.Cart_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>MyServlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountCount</servlet-name>
        <servlet-class>MyServlet.CountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountServlet</servlet-name>
        <servlet-class>MyServlet.CountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>MyServlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>MyServlet.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Goods</servlet-name>
        <url-pattern>/Goods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoodsServlet</servlet-name>
        <url-pattern>/GoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart_Servlet</servlet-name>
        <url-pattern>/Cart_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountCount</servlet-name>
        <url-pattern>/CountCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountServlet</servlet-name>
        <url-pattern>/CountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
